trigger:
- main

pool: abcd

jobs:
  - job: 
    displayName: "Terraform Init chalana hai"
    steps:
      - task: TerraformTask@5
        inputs:
          provider: 'azurerm'
          command: 'init'
          backendServiceArm: 'gunjan'
          backendAzureRmStorageAccountName: 'sanjaysingraur'
          backendAzureRmContainerName: 'sanjaycontainer'
          backendAzureRmKey: 'sanjay.tfstate'