trigger: none

pool:
  name: abcd


steps:
- task: TerraformInstaller@1
  inputs:
    terraformVersion: 'latest'


- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'init'
    backendServiceArm: 'yamlserviceConnection'
    backendAzureRmStorageAccountName: 'sanjaysingraur'
    backendAzureRmContainerName: 'sanjaycontainer'
    backendAzureRmKey: 'sanjay.tfstate'

- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'apply'
    environmentServiceNameAzureRM: 'yamlserviceConnection'